/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('pe.jpg'); /* Imagem de fundo da página */
    background-size: cover;
    background-position: center;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-box {
    background-image: url('pe.jpg'); /* Imagem de fundo do retângulo */
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.choice {
    display: block;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.choice:hover {
    background-color: #45a049;
}

.choice:active {
    background-color: #388e3c;
}
